[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.1"
django-debug-toolbar = "*"
django-extensions = "*"
celery = "*"
django-cache-machine = "*"
django-modeltranslation = "*"
"a5b59a8" = {path = "git+git@github.com:deschler/django-modeltranslation.git#egg=django_modeltranslation", editable = true}
django-reversion = "*"
django-celery = "*"
celerymon = "*"
imdbpy = "*"
vcrpy-unittest = "*"
"e1f7432" = {path = "git+git@github.com:alberanid/imdbpy.git#egg=imdbpy", editable = true}


[dev-packages]

ipython = "*"
factory-boy = "*"
ipdb = "*"


[requires]

python_version = "3.6"
