[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.0.1"
django-debug-toolbar = "*"
django-extensions = "*"
django-cache-machine = "*"
django-modeltranslation = "*"
django-filter = "*"
django-cors-headers = "*"
django-reversion = "*"
django-celery = "*"
django-environ = "*"
celery = "*"
celerymon = "*"
imdbpy = "*"
vcrpy-unittest = "*"
kinopoiskpy = "*"
alphabet-detector = "*"
parameterized = "*"
graphene-django = "*"
"psycopg2" = "*"
"e2b4cad" = {path = "git+git@github.com:deschler/django-modeltranslation.git#egg=django_modeltranslation", editable = true}
"e1f7432" = {path = "git+git@github.com:alberanid/imdbpy.git#egg=imdbpy", editable = true}


[dev-packages]

ipython = "*"
factory-boy = "*"
ipdb = "*"


[requires]

python_version = "3.6"
